{% extends "base_login.html" %}

{% block title %}Modificacion de Correo - Constructora{% endblock %}

{% block content %}

    <div class="modificar-container">

        <div class="left-side">


            <img src="{{ url_for('static', filename='imagenes/LOGO.png') }}"alt="Logo Construgonp's S.A.S">

        </div>

        <div class="right-side">
            <h2>Modificar correo</h2>
            <p class="subtitle">Actualiza el correo electrónico asociado a tu cuenta</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="POST">

                <div class="input-group">
                    <label>Nuevo correo electrónico</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope left-icon"></i>
                        <input type="email" id="nuevo_email" name="nuevo_email" placeholder="Ingresa tu nuevo correo" required>
                    </div>
                </div>

                <button type="submit">
                    <i class="fa fa-pen-to-square"></i> Actualizar correo
                </button>

            </form>

            <div class="links">
                <a href="{{ url_for('dashboard') }}">
                    <i class="fa fa-arrow-left"></i> Volver al dashboard
                </a>
            </div>
        </div>

    </div>

{% endblock %}
